/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;

  /* Lætur skroll innan síðu taka tíma */
  scroll-behavior: smooth;
}

/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Breytur sem skal nota */

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Hámarksbreidd á efni */
  --max-width: 1400px;

  --color-primary: #f0f0f8;

  --color-header: #fff;
  --color-text: #000;
  --color-border: #ccc;

  /* Letur stillingar */
  --font-base-body-px: 16px;
  --font-base-size: 1rem;
  --font-family-base: "Nunito", Helvetica, Arial, sans-serif;
  --font-family-heading: "Domine", Georgia, serif;
}

/* Leturgerðir */

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  src: url(./fonts/Nunito-VariableFont_wght.ttf) format("woff");
}

@font-face {
  font-family: "Domine";
  font-style: normal;
  font-display: swap;
  src: url(./fonts/Domine-VariableFont_wght.ttf) format("woff");
}

/* Almennt */

body {
  color: var(--color-text);
  font-size: var(--font-base-body-px);
  line-height: 1.5;
  font-family: var(--font-family-base);
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
}

img {
  max-width: 100%;
}

.button {
  display: inline-block;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--color-primary);
  color: #000000;
  padding: 0.5rem 1.5rem;
  font-family: var(--font-family-base);
}

.button-secondary {
  background-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

/* Layout */

main {
  margin: 0 auto;
  max-width: var(--max-width);
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
}

.info-boxes {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

/* Header */

header {
  display: flex;
  min-height: 100vh;
  color: #fff;
  background-position: 50% 50%;
  background: url(myndir/header.jpg) 50% 50%;
  background-attachment: fixed;

}

header .protection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

header .content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  margin: auto;
  font-family: var(--font-family-heading);
  font-size: calc(var(--font-base-size) * 1.5);
  text-align: center;
}

header h1 {
  font-size: 4rem;
}

/* Upplýsingasvæði */

.info-boxes img {
  flex-direction: column;
  max-width: 50%;
  transform: rotate(3deg);
}

.info {
  gap: calc(var(--spacing) * 2);
  padding: calc(var(--spacing) * 2);
  margin: calc(var(--spacing) * 2);
  display: flex;
  flex-direction: row;
}

.info-right {
  flex-direction: row-reverse;
  align-content: center;
}

.info-right img {
  transform: rotate(-3deg);
}

.kicker {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.info-text {
  padding: calc(var(--spacing) * 2);
  margin: calc(var(--spacing) * 2);
}

/* Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: calc(50% - 1rem);
  padding: calc(var(--spacing) * 0.75);

}

.card img {
  flex-grow: 1;
  object-fit: cover;
  max-height: 400px;
  flex-basis: auto;
}

.card .button {

}

